$primary-color: #ffcc49;
$primary2-color: #ffbc2f;
$secondary-color: #0d2e3f;

@font-face {
  font-family: "sansRegular";
  src: url("../assets/fonts/IRANSansX-Regular.woff"),
    url("../assets/fonts/IRANSansX-Regular.woff2");
}
@font-face {
  font-family: "sansMedium";
  src: url("../assets/fonts/IRANSansX-Medium.woff"),
    url("../assets/fonts/IRANSansX-Medium.woff2");
}
@font-face {
  font-family: "sansBold";
  src: url("../assets/fonts/IRANSansX-Bold.woff"),
    url("../assets/fonts/IRANSansX-Bold.woff2");
}
@font-face {
  font-family: "khandevane";
  src: url("../assets/fonts/KHANDEVANE.woff");
}

body {
  font-family: "sansMedium";
  font-weight: 400;
  min-height: 100dvh;
  font-size: 14px;
}

*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
section,
button,
details,
summary {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-spacing: 3px;
  list-style: none;
  font-weight: 400;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: inherit;
  font-family: "sansMedium";
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all ease 0.2s;
}

a:hover {
  color: inherit;
}

input,
textarea {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

// ready classes
.fs16 {
  font-size: 16px;
}

.fs14 {
  font-size: 14px;
}

.text-justify {
  text-align: justify;
}

.primary-text {
  color: $primary-color;
}

// ready classes ends

.BodyContainer {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  position: relative;
}

header {
  position: absolute;
  width: 100%;
  top: 40px;
  z-index: 10;
  background-color: black;
}

.Slide1 {
  background-image: url("../assets/img-icons/slide1Back.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  > .header {
    > h4 {
      color: white;
      font-weight: 500;
      font-size: 32px;
    }
    > h3 {
      font-size: 53px;
      color: $primary-color;
      font-family: "khandevane";
    }
  }

  > .options {
    width: 100%;
    max-width: 1040px;

    height: 96px;
    border-radius: 140px;

    background-color: #00000087;
    border: 1px solid $primary-color;
    backdrop-filter: blur(18.399999618530273px);

    padding: 0 2rem;

    > section {
      > div {
        width: 130px;
      }

      .divider {
        width: 1px;
        height: 27px;
        background-color: white;
      }
    }

    button {
      color: $secondary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      width: 200px;
      border-radius: 90px;
      padding: 0.8rem 0;
      background-color: $primary-color;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .badges {
    > div {
      > span {
        background-color: #ffffff36;
        border-radius: 90px;
        padding: 8px 18px;
      }
    }
  }
}

.Slide2 {
  background-image: url("../assets/img-icons/big-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -80px;

  height: 900px;

  > .topArrow {
    max-width: 1200px;
    margin: 0 auto;

    h3 {
      font-size: 43px;
      font-family: "khandevane";
      color: $primary-color;
    }
  }

  .CarSlider {
    max-width: 1000px;
    margin: 0 auto;

    .link {
      > a {
        margin-right: auto;
        display: flex;
        flex-direction: column;
        color: $primary-color;
        font-size: 15px;

        span {
          margin-left: 20px;
        }

        img {
          align-self: end;
          width: 40px;
          height: 20px;
        }
      }
    }
  }
}

.CarCard {
  background-image: url("../assets/img-icons/car1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  align-items: end;
  width: 100%;
  max-width: 320px;
  transition: border ease .3s;
  border: 1px solid transparent;
  height: 360px;
  cursor: pointer;

  &.c2 {
    background-image: url("../assets/img-icons/car2.png");
  }
  &.c3 {
    background-image: url("../assets/img-icons/car3.png");
  }

  .description {
    width: 100%;
    background: #000000a6;
    backdrop-filter: blur(8.199999809265137px);
    padding: 10px;
    font-family: "sansRegular";
  }

  .hoverArrowBtn {
    position: absolute;
    transition: all ease-in 0.2s;
    top: 0;
    right: 50%;
    transform: translateX(50%) translateY(-100%);
  }

  &:hover {
    border-color: $primary-color;

    .hoverArrowBtn {
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(50%) translateY(-0);
    }
  }

  
}

// MAIN SLIDER
.SwiperContainer {
  .swiper {
    &.main {
      max-width: 1520px;
      max-height: 1000px;
    }
  }

  .swiperUtilContainer {
    position: absolute;
    // top: 40%;
    // left: 70px;
    background-color: red;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
    gap: 20px;
    z-index: 10;
  }

  .swiper-pagination {
    &.main {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      // margin-bottom: 1rem;
      position: static;
      width: fit-content;
    }
  }

  .swiper-pagination-bullet {
    &.main {
      background: white;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      opacity: 1;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: transparent;
    width: 11px;
    height: 11px;
    border: 1px solid $primary-color;
    border-radius: 50%;
    // margin-top: 4rem;
  }

  .custom-prev-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: transparent;

    img {
      width: 14px;
      height: 14px;
    }
  }

  .custom-next-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    color: transparent;

    img {
      width: 14px;
      height: 14px;
    }
  }
}

// CAR SLIDER
.CarSlider {
  .swiper {
    max-width: 1180px;
    max-height: 1000px;
    padding-bottom: .5rem;
    // background-color: red;
  }


  .swiper-scrollbar{
    // background-color: red;
    width: 80%;
    background-color: transparent;
    // bottom: -1px;
    position: relative;
    &::after{
      content: "";
      background-color: #cacaca;
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }

  }

  .swiper-scrollbar-drag {
    background: white; /* Thumb color */
    border-radius: 4px;
  }


  .customSBtnPrev, .customSBtnNext {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
  }

  .customSBtnNext {
    rotate: 180deg;
  }
}
